

.RouletteAdmin_content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: .75rem;
}

.RouletteAdmin_header {
  display: flex;
  flex-direction: row;
  gap: .75rem;
}

.RouletteAdmin_url {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  padding: .5rem .75rem;
}
